@page
@model VampireMedia.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create Film";
}

<h1>Create new Vampire Film Record</h1>

<h4>Film Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movies.Title" class="control-label"></label>
                <input asp-for="Movies.Title" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.AlsoKnownAs" class="control-label"></label>
                <input asp-for="Movies.AlsoKnownAs" class="form-control" />
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="Movies.ReleaseDate" class="control-label"></label>
                <input asp-for="Movies.ReleaseDate" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Director" class="control-label"></label>
                <input asp-for="Movies.Director" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.MediaType" class="control-label"></label>
                <input asp-for="Movies.MediaType" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.MediaType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Language" class="control-label"></label>
                <input asp-for="Movies.Language" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.StarActor" class="control-label"></label>
                <input asp-for="Movies.StarActor" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.StarActor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.SupportingActors" class="control-label"></label>
                <input asp-for="Movies.SupportingActors" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.SupportingActors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.CoverImage" class="control-label"></label>
                <input asp-for="Movies.CoverImage" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Rating" class="control-label"></label>
                <input asp-for="Movies.Rating" class="form-control" />
                <hr />
                <span asp-validation-for="Movies.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
