@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color:black; color:crimson" >
    <h1 class="display-2">Welcome to Vampire Media</h1>
    
</div>

<body style="background-color:black; color:antiquewhite">
    <section>
        <p>This site allows to store all vampire films and books that you currently own.</p>
        <p>Movies are stored with their title, year of release, director, stars, and the media type (DVD/BLU-RAY)</p>
        <p>Books are stored in a similar way, the author, year published, nad if the book is hardback or softback.</p>
        <p>Wishlist is a list of media that you want to own. You can store a link to the website that you can 
            purchase it from.</p>
        <p>Notes is just that. Here you can store a note about anything you want relating to your vampire media collection.</p>
        
        <p>More features will be added in the future.</p>
    </section>

</body>
